<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js {% block html_class %}{% endblock %}" lang="{{ app.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}Wisembly{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="The Wisembly Team">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ app.request.basePath }}/" />

    {% block page_css %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/docs/assets/css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/docs/assets/css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>

{% include 'includes/navigation.html.twig' %}

{% block content %}{% endblock %}

{% include 'includes/footer.html.twig' %}
</body>
</html>
