global:
 debug: true
 locale_fallback: en
 host: http://wisembly.com
 assets_version: 42

silexcms.cache:
  enable: false
  type: apc

silexcms.security:
  user: pass

mailer:
  host:       smtp.gmail.com
  port:       465
  username:   ******
  password:   ******
  encryption: ssl
  auth_mode:  login

databases:
    default:
      driver:   pdo_mysql
      host:     localhost
      user:     ******
      password: ******
      charset:  UTF8
    fr:
      dbname:   wisembly_fr
      host:     host_fr
    en:
      dbname:   wisembly_en
      host:     host_en
    de:
      dbname:   wisembly_de
      password: ******
    es:
      dbname:   wisembly_es
    ch:
      dbname:   wisembly_fr

phone.numbers:
  en: "+442036089022"
  fr: "0142615947"
  de: "+498007234918"
  es: "+34931807007"
  ch: "+41435083520"
  be: "+3225881720"