global:
  debug: true
  locale_fallback: en
  host: http://wisembly.com
  assets_version: 42
  mysqldump: /Applications/MAMP/Library/bin/mysqldump
  mysql: /Applications/MAMP/Library/bin/mysql

third_party:
  mixpanel:  trackingnumber
  analytics: trackingnumber
  olark:     trackingnumber
  wisembly:
    app_id:  app_id
    app_secret:  app_secret

silexcms.cache:
  enable: false
  type: apc

silexcms.security:
  user: pass

mailer:
  host:       smtp.gmail.com
  port:       465
  username:   ******
  password:   ******
  encryption: ssl
  auth_mode:  login

databases:
    default:
      driver:   pdo_mysql
      host:     localhost
      user:     ******
      password: ******
      charset:  UTF8
    fr:
      dbname:   wisembly_fr
      host:     host_fr
    en:
      dbname:   wisembly_en
      host:     host_en
    de:
      dbname:   wisembly_de
      password: ******
    it:
      dbname:   wisembly_it
    ch:
      dbname:   wisembly_fr

phone.numbers:
  en: "+44 20 3608 9022"
  fr: "01 42 61 59 47"
  de: "+49 800 723 4918"
  it: "+39 02 87166000"
  ch: "+41 43 508 35 20"
  be: "+32 2 588 17 20"
