<?php

return array(
    'fr'    =>  array(
        'driver'    =>  'pdo_mysql',
        'dbname'    =>  'wisembly_fr',
        'host'      =>  'localhost',
        'user'      =>  'root',
        'password'  =>  'root',
    ),
    'en'    =>  array(
        'driver'    =>  'pdo_mysql',
        'dbname'    =>  'wisembly_en',
        'host'      =>  'localhost',
        'user'      =>  'root',
        'password'  =>  'root',
    ),
);
