{% extends 'layouts/main.html.twig' %}

{% block body_class %}login{% endblock %}

{% block page_css %}
    {{ parent() }}
    <style>
    .section {
        margin-left: 100px !important;
    }

    .login-form input {
        margin: 5px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="bread-crumb">
            <a href="/">Home</a> > Login
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12 login-form">
                        <h3>Who are you ?</h3>
                        {% if error is not none %}
                            <div class="alert alert-error">{{ error }}</div>
                        {% endif %}
                        <form action="{{ url('administration_login') }}" method="post">
                            <label>Username :<input type="text" name="_username" id="username" /></label><br />
                            <label>Password : <input type="password" name="_password" /></label><br />
                            <input type="submit" value="Let's rock" class="btn btn-large btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}