<div class='section odd' id='multi-devices'>
	<div class='container'>
		<h3 class='text-centered'>{{ 'multi_devices_title' | trans }}</h3>
		<div class='illustration'>
			<img src='/static/images/illustrations/devices.png'>
		</div>
		<div class='row'>
			<div class='column four'>
				<div class='column-inner'>
					{{ 'multi_devices_desc_1' | trans | raw }}
				</div>
			</div>
			<div class='column four'>
				<div class='column-inner'>
					{{ 'multi_devices_desc_2' | trans | raw }}
				</div>
			</div>
			<div class='column four last'>
				<div class='column-inner'>
					{{ 'multi_devices_desc_3' | trans | raw }}
				</div>
			</div>
		</div>
	</div>
</div>