<div class='section odd' id='schedule'>
	<div class='container'>
		<div class='row'>
			<div class='column five'>
				<div class='column-inner'>
					<h3>{{ 'schedule_meetings_title' | trans }}</h3>
					{{ 'schedule_meetings_desc' | trans | raw }}
				</div>
			</div>
			<div class='column six last'>
				<div class='column-inner'>
					<img src='{{ asset("/static/images/illustrations/agenda.png") }}'>
				</div>
			</div>
		</div>
	</div>
</div>