<div class='section even' id='stats-reporting'>
	<div class='container'>
		<h3 class='text-centered'>{{ 'statistics_title' | trans }}</h3>
		<div class='illustration'>
			<img src='/static/images/illustrations/stats-reporting-meetings.png' />
		</div>
		<div class='row'>
			<div class='column four'>
				<div class='column-inner'>
					{{ 'statistics_desc_1' | trans | raw }}
				</div>
			</div>
			<div class='column four'>
				<div class='column-inner'>
					{{ 'statistics_desc_2' | trans | raw }}
				</div>
			</div>
			<div class='column four'>
				<div class='column-inner'>
					{{ 'statistics_desc_3' | trans | raw }}
				</div>
			</div>
		</div>
	</div>
</div>