$form-element-background-color: #f5f5f5;
$form-element-background: linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0));
$form-element-radius: 1px;
$form-element-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.1);
$form-element-color: #666;

.button {
	display: block;
	padding: $form-element-padding;
	background-color: $form-element-background-color;
	background-image: $form-element-background;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: $form-element-radius;
	box-shadow: $form-element-shadow;
	color: $form-element-color;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	appearance: none;   
	user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	&:active {
		@extend .button-state-active;
	}
}
// button states
.button-state-hover {
	background-color: $brandBlueExtraLight;
}
.button-state-active {
	box-shadow: inset 0 0 5px rgba(0,0,0,.3);
}
.button-default {
	text-shadow: none;
}
.button-attention {
	background-color: $brandBlue;
	color: $white;
	
	&:hover {
		background-color: $brandBlueLight;
	}
	&:active {
		background-color: $brandBlue;
	}
}
.button-validate {
	background-color: $brandBlueLight;
	color: $white;
	
	&:hover {
		background-color: $brandBlueExtraLight;
	}
	&:active {
		background-color: $brandBlueLight;
	}
}
.button-disabled {
	background-color: $form-element-background-color;
	background-image: none;
	box-shadow: none;
	color: #999;
	text-shadow: none;
}
.button-call {
	background-color: $brandOrangeLight;
	color: $white;
}
.button-small {
	padding: 4px 7px;
}
.button-large {
	padding: $form-large-element-padding;
}
.button-processing {
	display: none;
}
.button-light {
	font-weight: 300;
}