.footer {
	padding: 50px;
	font-size: 14px;
	
	.container {
		position: relative;
	}
	
	.button-call {
		margin-bottom: 20px;
	}
	.contact,
	.dropdown {
		float: right;
		margin-left: 20px;
	}
	.trial {
		float: right;
	}
	h5 {
		text-transform: uppercase;
		color: $grey;
		margin-top: 0;
	}
	.button {
		padding-right: 8px;
		padding-left: 8px;
	}
}
.page-list {
	li {
		line-height: 1.3em;
		margin-bottom: 5px;
		
		a {
			color: $grey;
			text-decoration: none;
		}
	}
}
.mixpanel {
	position: absolute;
	right: 0;
	bottom: 0;
}