.mtl,
.mvl {
	margin-top: 30px;
}
.mvl {
	margin-bottom: 30px;
}
.mtm {
	margin-top: 15px;
}
.pal {
	padding: 30px;
}
.pvl {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pvm {
	padding-top: 15px;
	padding-bottom: 15px;
}
.phl {
	padding-right: 30px;
	padding-left: 30px;
}
.mbn {
	margin-bottom: 0;
}
.mtn {
	margin-top: 0;
}