<ul class='list about-navigation'>
	<li>
		<a href='{{ path('about') }}'>Notre histoire</a>
	</li>
	<li>
		<a href='{{ path('about-team') }}'>L'équipe</a>
	</li>
	<li>
		<a href='{{ path('about-press') }}'>Presse</a>
	</li>
	<li>
		<a href='{{ path('jobs') }}'>Jobs</a>
	</li>
</ul>