<footer class='footer' id='footer'>
	<div class='container'>
		<div class='row'>
			<div class='column three'>
				<div class='column-inner'>
					<h5>Wisembly</h5>
					<ul class='list'>
						<li>Pour les cours et formations</li>
						<li>Pour les réunions et conf-calls</li>
						<li>Pour les événements et séminaires</li>
						<li>Etudes de cas</li>
						<li>Plans</li>
					</ul>
				</div>
			</div>
			<div class='column three'>
				<div class='column-inner'>
					<h5>A propos de Wisembly</h5>
					<ul class='list'>
						<li>A propos</li>
						<li>Recrutement</li>
						<li>Contact</li>
						<li>Ressources</li>
					</ul>
				</div>
			</div>
			<div class='column three'>
				<div class='column-inner'>
					<h5>Développeurs</h5>
					<ul class='list'>
						<li>Widgets</li>
						<li>APIs</li>
						<li>Github</li>
					</ul>
				</div>
			</div>
			<div class='column last'>
				<div class='column-inner'>
					<div class='dropdown'>
						<label class='dropdown-toggle'>
							<img src='images/flags/fr.png'>
						</label>
						<ul class='list dropdown-list'>
							<li>
								<img src='/static/images/flags/gb.png'>
							</li>
							<li>
								<img src='/static/images/flags/it.png'>
							</li>
							<li>
								<img src='/static/images/flags/de.png'>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
  </div>
</footer>

{% include 'includes/scripts.html.twig' %}