<div class='section odd' id='comments'>
	<div class='container'>
		<div class='row'>
			<div class='column six'>
				<div class='column-inner'>
					<img src='/static/images/illustrations/comment.png' />
				</div>
			</div>
			<div class='column five last'>
				<div class='column-inner'>
					<h3>{{ 'question_answers_title' | trans }}</h3>
					<p>{{ 'question_answers_desc' | trans }}</p>
				</div>
			</div>
		</div>
	</div>
</div>