<div class='section odd' id='fullscreen'>
	<div class='container'>
		<div class='row'>
			<div class='column five'>
				<div class='column-inner'>
					<img src='/static/images/illustrations/fullscreen.png' />
				</div>
			</div>
			<div class='column six last'>
				<div class='column-inner'>
					<h3>{{ 'fullscreen_title' | trans }}</h3>
					<p>{{ 'fullscreen_desc' | trans }}</p>
				</div>
			</div>
		</div>
	</div>
</div>