<div class='section odd' id='moderation'>
	<div class='container'>
		<div class='row'>
			<div class='column five'>
				<div class='column-inner'>
					<h3>{{ 'moderation_title' | trans }}</h3>
					<p>{{ 'moderation_desc' | trans }}</p>
				</div>
			</div>
			<div class='column six last'>
				<div class='column-inner'>
					<img src='{{ asset("/static/images/illustrations/moderation.png") }}' />
				</div>
			</div>
		</div>
	</div>
</div>