<div class='section even' id='satisfaction-study'>
	<div class='container'>
		<div class='row'>
			<div class='column five'>
				<div class='column-inner'>
					<h3>{{ 'feedback_survey_title' | trans }}</h3>
					{{ 'feedback_survey_desc' | trans | raw }}
				</div>
			</div>
			<div class='column six last'>
				<div class='column-inner'>
					<img src='{{ asset("/static/images/illustrations/fullfilment-survey.png") }}'>
				</div>
			</div>
		</div>
	</div>
</div>