<div class='section odd' id='stats-reporting'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'interaction_analysis_title' | trans }}</h3>
			<div class='illustration'>
				<img src='{{ asset("/static/images/illustrations/stats-reporting-events.png") }}'>
			</div>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<p>{{ 'interaction_analysis_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<p>{{ 'interaction_analysis_desc2' | trans }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>