<div class='section odd' id='vote'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'votes_title' | trans }}</h3>
						<p>{{ 'votes_desc' | trans }}</p>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<img src='/static/images/illustrations/vote.png' />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>