.breadcrumbs {
	@include clearfix;
	border-bottom: 1px solid $lightGrey;
	
	ul {
		margin: 0 -15px;
	}
	li {
		float: left;
		background-image: url(/static/images/right-chevron.png);
		background-position: center right;
		background-repeat: no-repeat;
	}
	.last {
		background-image: none;
		
		a {
			padding-right: 15px;
		}
	}
	a {
		display: block;
		padding: 20px 29px 20px 15px;
		text-decoration: none;
		color: $grey;
		
		&:hover {
			color: #666;
		}
	}
}
