html {
	color: $black;
	font-family: $default-font-family;
	//background-color: $brandBlueHover;
}
html,
body {
	height: 100%;
}
body {
	padding-top: $topbarHeight;
}
img {
	display: block;
}
a {
	color: $brandBlueLight;
}
.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pvs {
	padding: 5px 0;
}
.hide {
	display: none;
}
.relative {
	position: relative;
}

// clear floats with clearfix
@mixin clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.clearfix {
	@include clearfix;
}

@mixin image-replacement() {
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -1000%;
}

h1,
h2,
h3,
h4 {
	font-family: $header-font-family;
}

// pages

// frontpage 
.frontpage {
	padding: 0;
	
	.top-bar {
		position: fixed;
	}
}

// sections
.section {
	padding: 50px 0;
	//background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,1) 50%, rgba(255,255,255,0));
	border-bottom: 1px solid $lightGrey;
	box-shadow: inset 0 -1px 5px 0 rgba(0,0,0, .06);
	
	h3 {
		font-size: 30px;
		font-weight: 300;
		margin-top: 0;
	}
	p {
		line-height: 2em;
	}
}
.header {

	h1 {
		font-size: 30px;
		font-weight: 300;
	}
	h2 {
		font-weight: 300;
	}
}
.try-now {
	background-color: #fafafa;
}
.features-list {
	padding: 0;
	@include clearfix;
	box-shadow: 0 0 2px 0 rgba(0,0,0, .1);
	font-family: $header-font-family;

	li {
		float: left;
		width: 14.28%;

		&.first {
			a {
				border-left: 1px solid $lightGrey;
			}
		}
	}
	a {
		display: block;
		padding: 15px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		//color: $grey;
		border-right: 1px solid $lightGrey;
		min-height: 38px;
	}
	&.docked {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		background-color: $white;
	}
}
.documents-management {
	background-color: $brandYellowExtraExtraExtraLight;
}
.students-evaluation {
	background-color: $brandBlueExtraExtraExtraLight;
	background-image: url(../images/edito/woman.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
	h3 {
		text-align: center;
	}
}
.quizzes {
	background-color: $brandGreen;
	color: $white;
}
.training-evaluation {
	background-color: $brandGreenExtraExtraExtraLight;
	background-image: url(../images/edito/grid-dots-alt.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.quiz-demo {
	background-color: $white;
	padding: 20px 30px;
	border: 1px solid $lightGrey;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	color: $black;
	
	.choice {
		position: relative;
		display: block;
		margin-bottom: 10px;
		border: 1px solid $lightGrey;
		@include clearfix;
		cursor: pointer;
	}
	h4 {
		font-weight: 400;
		margin-top: 0;
	}
	input {
		visibility: hidden;
		position: absolute;
		left: -100%;
	}
	span {
		display: block;
		padding: 5px 10px;
		overflow: hidden;
	}
	.target {
		display: block;
		float: left;
		width: 20px;
		height: 20px;
		padding: 6px 5px;
		border-right: 1px solid $lightGrey;
		background-color: rgba(0,0,0,.02);
	}
	.button {
		width: 100%;
		margin-top: 20px;
	}
}
.q-a {
	background-color: $brandGreenExtraExtraLight;
	background-image: url(../images/edito/training.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
	overflow: hidden;
	
	&:hover {
		.browser {
			bottom: -30px;
		}
	}
	
	.container {
		position: relative;
	}
	.quote-box {
		padding: 5px;
		background-color: #f5f5f5;
		border-bottom: 1px solid $lightGrey;
		
		&.focus {
			button {
				display: block;
			}
		}
		
		.textarea-container {
			position: relative;
		}
		textarea {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			outline: none;
			resize: none;
			width: 100%;
			box-sizing: border-box;
			border: 1px solid $lightGrey;
			overflow: hidden;
		}
		.textarea-mirror {
			min-height: 20px;
		}
		textarea, 
		.textarea-mirror {
			padding: 10px;
		}
		button {
			display: none;
		}
	}
	.quotes-stream li {
		border-bottom: 1px solid $lightGrey;
		padding: 15px;
		
		span {
			display: block;
		}
		.quote-text {
			margin-bottom: 5px;
		}
		.quote-author {
			color: $grey;
			font-size: 11px;
		}
	}
}
.stats-reporting {
	background-color: $brandRedExtraExtraExtraLight;
}
.multi-device {
	background-color: $brandOrangeExtraExtraExtraLight;
}

.clients-list {
	margin: 0 -20px;
	@include clearfix;
	
	li {
		width: 25%;
		float: left;
	}
	.inner {
		padding: 20px;
		text-align: center;
		line-height: 30px;
		transition: background-color 1s linear;
		
		&:hover {
			background-color: $brandGreen;
		}
	}
	i {
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		-webkit-filter: grayscale(1);
		opacity: .5;
		width: 100%;
		height: 50px;
	}
}
img {
	display: block;
	max-width: 100%;
}

.media {
	.hd {
		float: left;
		width: 90px;
		height: 90px;
		margin-right: 30px;
		overflow: hidden; 
	}
	.bd {
		overflow: hidden;
	}
}

.testimonials {
	li {
		margin: 20px 0;
	}
	p {
		margin-top: 0;
		line-height: 1.5;
	}
	.hd {
		border: 1px solid $lightGrey;
		padding: 1px;
	}
	img {
		position: relative;
		top: -5px;
	}
	.quote {
		margin-bottom: 10px;
	}
}

.headline,
.clients {
	height: 100%;
	padding: 0;
	min-height: 728px;
	
	.container {
		display: table;
		height: 100%;
		width: 1064px;
		position: relative;
	}
	& > .container > .row {
		display: table-cell;
		vertical-align: middle;
	}
}
.headline {
	background-color: $brandBlueExtraLight;
	background-image: url(../images/edito/headline-graph-alt.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-animation: mute 10s infinite;
	color: $white;
	text-shadow: 0 1px 2px rgba($brandBlue, .9);
	overflow: hidden;
	
	h1 {
		font-weight: 400;
		font-size: 40px;
		margin-top: 0;
	}
	h2 {
		font-size: 30px;
		font-weight: 300;
	}
	.browser {
		text-shadow: none;
		color: $grey;
		bottom: -60px;
		right: 0;
	}
	.app-body {
		padding: 80px;
		text-align: center;
	}
	.row-bump {
		margin-top: $topbarHeight;
	}
	.container-shadow {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 20px;
		width: 100%;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.075));
		
		&:before {
			content: '';
			width: 30px;
			top: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			background-image: -webkit-linear-gradient(left, #78bad6, rgba(#78bad6, 0));
		}
		&:after {
			content: '';
			width: 30px;
			top: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			background-image: -webkit-linear-gradient(right, #78bad6, rgba(#78bad6, 0));
		}
	}
	.legend,
	.with {
		display: block;
		padding: 5px;
		background-color: $brandOrangeLight;
		color: $white;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		text-shadow: none;
	}
	.legend {
		width: 65px;
		margin: 20px auto;
	}
	.with {
		position: absolute;
		right: -37px;
		bottom: 0px;
	}
	.browser {
		position: relative;
		bottom: 0;
		width: 100%;
		//top: 206px;
		box-shadow: 0 2px 2px rgba(0,0,0,.1);
	}
	.browser-wrapper {
		padding-top: 150px;
		position: relative;
	}
	.browser-wrapper.first b {
		display: block;
		width: 149px;
		height: 41px;
		position: absolute;
		right: -92px;
		top: 15px;
		background-image: url(../images/doodles/arrow.png);
		opacity: 0.5;
	}
	.browser-wrapper.first i {
		display: block;
		width: 132px;
		height: 56px;
		position: absolute;
		right: -68px;
		top: -60px;
		background-image: url(../images/doodles/doodle.png);
		background-repeat: no-repeat;
		opacity: 0.5;
		-webkit-transform: rotate(-5deg);
	}
	.browser-wrapper.last b {
		display: block;
		width: 149px;
		height: 41px;
		position: absolute;
		left: -92px;
		top: 50px;
		background-image: url(../images/doodles/arrow-left.png);
		opacity: 0.5;
	}
}
.jump-after-fold {
	display: block;
	width: 420px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
	color: $white;
	@include clearfix;
	text-shadow: 0;
	text-decoration: none;
	text-shadow: none;
	opacity: 0.7;
	
	span,
	.picto {
		margin: 20px 10px;
	}
	.picto {
		position: relative;
	}
	.picto.first {
		float: left;
	}
	.picto.last {
		float: right;
	}
	span {
		display: block;
		text-align: center;
		overflow: hidden;
		line-height: 13px;
		font-size: 14px;
		
		strong {
			background-color: rgba(0,0,0,.1);
			padding: 5px;
		}
	}
	&:focus {
		.picto {
			top: 1px;
		}
	}
}
.picto.down-chevron {
	display: inline-block;
	width: 21px;
	height: 13px;
	background-image: url(../images/down-chevron.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.clients {	
	background-color: $brandGreenExtraLight;
	color: $white;
	text-shadow: 0 1px 2px rgba($brandGreen, .9);
	
	h3 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 30px;
	}
}


.try-me {
	background-color: $brandBlueLight;
	border-radius: 5px;
	line-height: 1.5em;
	font-family: $header-font-family;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	margin: 20px -20px;
}
.try-me-label {
	padding: 20px 20px 0 20px;
}
.try-me-choices {
	@include clearfix;
	padding: 20px 10px;
	
	li {
		float: left;
		width: 33.3333%;
	}
	a {
		display: block;
		padding: 10px;
		color: $white;
		text-decoration: none;
		//line-height: 1.5em;
		margin: 0 10px;
		box-shadow: inset 0 1px 0 rgba(255,255,255, .4);
	}
	.last a {
		border-right: 0;
	}
	.first {
		a {
			background-color: $brandOrange;
		}
	}
	.second {
		a {
			background-color: $brandGreen;
		}
	}
	.last {
		a {
			background-color: $brandBlue;
		}
	}
}
.browser-wrapper.first {
	background-image: url(../images/edito/smiling.png);
	background-position: -85px -30px;
	background-repeat: no-repeat;
	background-size: 400px;
}
.browser-wrapper.last {
	background-image: url(../images/edito/young.png);
	background-position: -51px -40px;
	background-repeat: no-repeat;
	background-size: 320px;
}
.browsers {
	position: relative;
	height: 100%;
}
// browser
.browser {
	position: absolute;
	right: 150px;
	width: 375px;
	bottom: -80px;
	transition: all .3s ease-in;
}
.browser-bar {
	display: none;
	background-image: url(../images/browser-bar.png);
	background-position: -1px 0;
	background-repeat: no-repeat;
	width: 375px;
	height: 44px;
	
	span {
		display: block;
		padding: 13px 70px;
		font-size: 12px;
		line-height: 20px;
	}
}
.browser-window {
	height: 330px;
	border-width: 0 1px 1px;
	border-color: #979797;
	border-style: solid;
	border-radius: 0 0 3px 3px;
	background-color: $white;
	overflow: hidden;
}
.mocked-app {
	font-size: 13px;
}
.app-header {
	padding: 7px 0;
	background-color: $brandBlueHover;
	border-bottom: 1px solid rgba(0,0,0, .1);
	box-shadow: 0 1px 3px 0 rgba(0,0,0, .15), inset 0 1px 0 rgba(255,255,255,.2);
}
.app-logo {
	width: 90px;
	height: 20px;
	margin: 0 auto;
	background-image: url(../images/wisembly-w-372x85.png);
	background-size: 90px;
	@include image-replacement;
}

// Use cases
.cases-clients {
	padding: 0;
}
.cases-list {
	@include clearfix;
	
	li {
		float: left;
	}
	// four clients
	&.four {
		li {
			width: 25%;
		}
	}
	// backgrounds
	.first {
		background-color: $brandOrangeLight;
	}
	.second {
		background-color: $brandYellowLight;
	}
	.third {
		background-color: $brandGreenLight;
	}
	.fourth {
		background-color: $brandBlueLight;
	}
	a {
		display: block;
		padding: 50px;
		color: $white;
		text-decoration: none;
	}
}