.container {
	width: $container-width;
	margin: 0 auto;
}
.row {
	margin: 0 -20px;
	@include clearfix;
}
.column {
	float: left;
	
	&.last {
		float: right;
	}
}
.centered {
	margin: auto;
	float: none;
}
.column-inner {
	padding: 0 20px;
}
.column {
	&.three {
		width: 25%;
	}
	&.four {
		width: 33.33%;
	}
	&.five {
		width: 41.67%;
	}
	&.six {
		width: 50%;
	}
	&.seven {
		width: 58.33%;
	}
}