.picto {
	display: block;
	height: 60px;
	width: 100%;
	width: 90px;
	background-size: 90px;
	background-repeat: no-repeat;
	background-position: bottom center;
}

// features
.picto-documents-management {
	background-image: url(/static/images/pictos/documents-management.png);
}
.picto-multi-devices {
	background-image: url(/static/images/pictos/multi-device.png);
}
.picto-students-evaluation {
	background-image: url(/static/images/pictos/students-evaluation.png);
}
.picto-trainings-evaluation {
	background-image: url(/static/images/pictos/training-evaluation.png);
}
.picto-stats-reporting {
	background-image: url(/static/images/pictos/stats-reporting.png);
}
.picto-qa {
	background-image: url(/static/images/pictos/qa.png);
}
.picto-quiz {
	background-image: url(/static/images/pictos/quiz.png);
}


// others
.picto.down-chevron {
	display: inline-block;
	width: 21px;
	height: 13px;
	background-image: url(/static/images/down-chevron.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto;
}