{% extends 'layouts/main.html.twig' %}

{% block body_class %}about-team{% endblock %}

{% block content %}
	<div class='section header' style='background-image: url(http://cdn0.stocksy.com/a/bVF000/z0/59619.jpg);'>
		<div class='container'>
			<h1>Wisembly dans la presse</h1>
			<h2>Ils chantent nos éloges</h2>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<table class='press-list'>
							<tr>
								<td class='src'>The europas</td>
								<td class='date'>10/01/2013</td>
								<td class='title'>
									<a href=''>The Europas: Wisembly in the shortlist for Best French Startup!</a>
								</td>
							</tr>
							<tr>
								<td class='src'>Comment ca marche ?</td>
								<td class='date'>10/01/2013</td>
								<td class='title'>
									<a href=''>The Europas: Wisembly in the shortlist for Best French Startup!</a>
								</td>
							</tr>
						</table>
						<div class='hey-press'>
							<div class='row'>
								<div class='column seven'>
									<div class='column-inner'>
										<p>Journalistes, vous recherchez des images, des photos pour illustrer vos articles ?</p>
									</div>
								</div>
								<div class='column four last'>
									<div class='column-inner'>
										<a href='{{ path('resources') }}' class='button button-call'>Téléchargez-les ici</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}