{% extends 'layouts/main.html.twig' %}

{% block body_class %}about{% endblock %}

{% block content %}
	<div class='section header' background-image: url();>
		<div class='container'>
			<h1>A propos de Wisembly</h1>
			<h2>Comment cette belle histoire a commencé...</h2>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<div class='history-stream'>
							<b class='history-stream-line'></b>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Juin 2010</span>
										<h3 class='history-item-title'>Balloon est fondé par Andreï, Pierre et Romain</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>L’idée de départ de Balloon était un réseau social géolocalisé: permettre à des gens se trouvant dans un même lieu d’échanger des messages depuis leur téléphone portable.</p>
									<p>Après plusieurs phases de test lors de campagnes étudiantes, forums entreprises ou soirée, Balloon est utilisé lors d’un conférence permettant aux participants et aux intervenants d’échanger de manière complètement nouvelle.</p>
									<p>Balloon tel qu’il existe aujourd’hui était né.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Août 2010</span>
										<h3 class='history-item-title'>Guillaume accepte de s’associer à Balloon et devient CTO</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Suite au départ de Pierre, Guillaume vient complèter l’équipe et se met au travail pour développer la nouvelle version de Balloon.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Septembre 2010</span>
										<h3 class='history-item-title'>Intégration à l’incubateur d’HEC</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Suite à une rentrée réussie et au succès de la nouvelle version, Balloon intègre l’incubateur d’HEC pour une année d’accompagnement.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Mars 2011</span>
										<h3 class='history-item-title'>Lancement de la version en ligne de Balloon</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Balloon est disponible directement en ligne et devient utilisable de manière autonome par nos clients. C’est le début de centaines d’événements réalisés à travers le monde sans notre intervention directe.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Septembre 2011</span>
										<h3 class='history-item-title'>La 100 000 ème question est posée sur Balloon</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>100 000 questions ont été posées sur Balloon en un peu plus d’un an. Une étape importante pour toute l’équipe qui montre le changement qu’a apporté Balloon dans les événements de nos clients.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Février 2012</span>
										<h3 class='history-item-title'>Balloon s’agrandit</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Balloon emménage 10 rue thérèse, à deux pas d’Opéra pour accueillir les 10 membres de l’équipe.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Mai 2012</span>
										<h3 class='history-item-title'>Le changement, c’est maintenant</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Lancement de la nouvelle version de Balloon portée par les toutes dernières innovations technologiques: Symfony2 pour le framework PHP, Backbonejs pour l'intéraction applicative client et du push en temps réel via socket.io et node.js.</p>
								</div>
							</div>
							<div class='history-item'>
								<b class='history-item-dot'></b>
								<div class='history-item-cover'>
									<i class='history-item-background' style='background-image: url(http://wisembly.com/static/img-story/story1.jpg)'></i>
									<div class='history-item-id'>
										<span class='history-item-date'>Septembre 2012</span>
										<h3 class='history-item-title'>Balloon devient Wisembly</h3>
									</div>
								</div>
								<div class='history-item-description'>
									<p>Balloon devient Wisembly et s’attaque au marché de la formation et des réunions professionnelles.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}