{% extends 'layouts/main.html.twig' %}

{% block body_class %}case-studies{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<h1>Comme nos clients: gagnez en productivité durant vos meetings</h1>
						<h2>Wisembly aide des centaines d’entreprise à collaborer en réunion et à booster leur productivité.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section cases-clients'>
		<div class='container'>
			<ul class='list cases-list four'>
				<li class='first'>
					<a href='#la-poste'>
						<div>Séminaire</div>
						<div>La poste</div>
					</a>
				</li>
				<li class='second'>
					<a href='#sncf'>
						<div>Le Tchat du président</div>
						<div>SNCF</div>
					</a>
				</li>
				<li class='third'>
					<a href='#auchan'>
						<div>Conference Calls</div>
						<div>Auchan</div>
					</a>
				</li>
				<li class='fourth last'>
					<a href='#hec'>
						<div>Formation</div>
						<div>HEC</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section la-poste' id='la-poste'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Séminaire à La Poste</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>Une journée de séminaire annuel d’échanges de pratiques</li>
							<li>120 managers de la direction financière de La Poste</li>
							<li>Thème de travail: Réussir la décentralisation</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Ouverture de la plateforme en amont pour recueillir les questions des 
managers</li>
							<li>Feedback en live via questions et commentaires envoyés depuis leur téléphone 
(SMS et web) </li>
							<li>Nuage de mots clés en live</li>
							<li>Travail en sous-groupes de 15. Restitution et vote de la faisabilité de ses 
propositions sous forme de sondage</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>95 questions réunies en amont</li>
							<li>120 questions posées en direct</li>
							<li>7 sondages en direct pour identifier les facteurs de succès</li>
							<li>100% de participation</li>
						</ul>
						<blockquote>Au-delà de l’évidente dynamique ludique que crée Wisembly, il redonne à nos pratiques d’intervention un gain spectaculaire dans la capacité d’interaction.</blockquote>
						<p>Olivier Lagrée, Consultant DELOITTE</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section sncf' id='sncf'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Le «Tchat du Président» à la SNCF</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>Une journée de séminaire annuel d’échanges de pratiques</li>
							<li>120 managers de la direction financière de La Poste</li>
							<li>Thème de travail: Réussir la décentralisation</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Ouverture de la plateforme en amont pour recueillir les questions des 
managers</li>
							<li>Feedback en live via questions et commentaires envoyés depuis leur téléphone 
(SMS et web)</li>
							<li>Nuage de mots clés en live</li>
							<li>Travail en sous-groupes de 15. Restitution et vote de la faisabilité de ses 
propositions sous forme de sondage</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>95 questions réunies en amont</li>
							<li>120 questions posées en direct</li>
							<li>7 sondages en direct pour identifier les facteurs de succès</li>
							<li>100% de participation</li>
						</ul>
						<blockquote>Wisembly a créé un véritable u-turn dans la relation managériale de l'entreprise. La solution nous accompagne dans toutes nos réunions.</blockquote>
						<p>Patrick Ropert, Directeur de la Communication, SNCF </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section auchan' id='auchan'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Conference calls chez Auchan</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>Réunions bimensuelles de 2h d’avancement de projet</li> 
							<li>15 participants</li>
							<li>Participants répartis dans différents sites et pays</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Partage des slides en temps réel</li>
							<li>Questions posées tout au long du call aux participants sur la plateforme</li>
							<li>Réactions des participants en direct</li>
							<li>Définition de l’agenda du prochain call à la fin du call</li>
							<li>Partage des supports à la fin de la conférence</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>100% de participation</li>
							<li>50 questions et idées en moyenne</li>
							<li>3 documents partagés</li>
						</ul>
						<blockquote>Le pilotage des questions live et évaluations permet d'aboutir facilement et rapidement à des décisions partagées, co-construites, là où la conversation téléphonique seule renvoie souvent l'animateur à sa solitude.</blockquote>
						<p>Emmanuel Le Bouille, Directeur Innovation, AUCHAN</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class='section hec' id='hec'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Formation: Cours de marketing à HEC</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>6 sessions de 3h de cours</li>
							<li>35 étudiants</li>
							<li>Intervenants extérieurs, présentations de cas</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Mise en ligne des supports de cours sur la plateforme que les étudiants 
téléchargent entre chaque session</li>
							<li>Intervention des étudiants pendant les présentations des autres et apport de 
leurs contributions</li>
							<li>Evaluation du niveau de connaissances et de progression des étudiants sur 
Wisembly</li>
							<li>Réponses à certaines questions sur la plateforme</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>944 questions et commentaires, 4007 likes sur ces questions</li>
							<li>60 réponses à des questions directement sur la plateforme</li>
							<li>20 quiz durant les sessions</li>
							<li>2 évaluations du cours + 2 tests de connaissance</li>
							<li>50 documents partagés</li>
						</ul>
						<blockquote>Wisembly est un boostier de ROI des formations et de l'enseignement. Cela devient le "le manuel interactif" qui accompagne l'ensemble des participants, en communauté avec leurs formateurs.</blockquote>
						<p>Georges-Edouard Dias, Professeur à HEC</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}