{% extends 'layouts/main.html.twig' %}

{% block body_class %}auchan{% endblock %}

{% block content %}
	<div class='section auchan' id='auchan'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Conference calls chez Auchan</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>Réunions bimensuelles de 2h d’avancement de projet</li> 
							<li>15 participants</li>
							<li>Participants répartis dans différents sites et pays</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Partage des slides en temps réel</li>
							<li>Questions posées tout au long du call aux participants sur la plateforme</li>
							<li>Réactions des participants en direct</li>
							<li>Définition de l’agenda du prochain call à la fin du call</li>
							<li>Partage des supports à la fin de la conférence</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>100% de participation</li>
							<li>50 questions et idées en moyenne</li>
							<li>3 documents partagés</li>
						</ul>
						<blockquote>Le pilotage des questions live et évaluations permet d'aboutir facilement et rapidement à des décisions partagées, co-construites, là où la conversation téléphonique seule renvoie souvent l'animateur à sa solitude.</blockquote>
						<p>Emmanuel Le Bouille, Directeur Innovation, AUCHAN</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}