{% extends 'layouts/main.html.twig' %}

{% block body_class %}case-studies{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<h1>Comme nos clients: gagnez en productivité durant vos meetings</h1>
						<h2>Wisembly aide des centaines d’entreprise à collaborer en réunion et à booster leur productivité.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section cases-clients'>
		<div class='container'>
			<ul class='list cases-list four'>
				<li class='first'>
					<a href='{{ path('case-la-poste') }}'>
						<div>Séminaire</div>
						<div>La poste</div>
					</a>
				</li>
				<li class='second'>
					<a href='{{ path('case-sncf') }}'>
						<div>Le Tchat du président</div>
						<div>SNCF</div>
					</a>
				</li>
				<li class='third'>
					<a href='{{ path('case-auchan') }}'>
						<div>Conference Calls</div>
						<div>Auchan</div>
					</a>
				</li>
				<li class='fourth last'>
					<a href='{{ path('case-hec') }}'>
						<div>Formation</div>
						<div>HEC</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}