{% extends 'layouts/main.html.twig' %}

{% block body_class %}la-poste{% endblock %}

{% block content %}
	<div class='section la-poste' id='la-poste'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Séminaire à La Poste</h3>
						<h4>Le contexte</h4>
						<ul>
							<li>Une journée de séminaire annuel d’échanges de pratiques</li>
							<li>120 managers de la direction financière de La Poste</li>
							<li>Thème de travail: Réussir la décentralisation</li>
						</ul>
						<h4>L'utilisation de Wisembly</h4>
						<ul>
							<li>Ouverture de la plateforme en amont pour recueillir les questions des 
	managers</li>
							<li>Feedback en live via questions et commentaires envoyés depuis leur téléphone 
	(SMS et web) </li>
							<li>Nuage de mots clés en live</li>
							<li>Travail en sous-groupes de 15. Restitution et vote de la faisabilité de ses 
	propositions sous forme de sondage</li>
						</ul>
						<h4>Les résultats</h4>
						<ul>
							<li>95 questions réunies en amont</li>
							<li>120 questions posées en direct</li>
							<li>7 sondages en direct pour identifier les facteurs de succès</li>
							<li>100% de participation</li>
						</ul>
						<blockquote>Au-delà de l’évidente dynamique ludique que crée Wisembly, il redonne à nos pratiques d’intervention un gain spectaculaire dans la capacité d’interaction.</blockquote>
						<p>Olivier Lagrée, Consultant DELOITTE</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}