{% extends 'layouts/main.html.twig' %}

{% block body_class %}contact{% endblock %}

{% block content %}
	<div class='section header' style='background-image: url("http://cdn2.stocksy.com/a/AtB000/z0/45704.jpg");'>
		<div class='container'>
			<h1>Prenez contact avec nous</h1>
			<h2>Il vous manque une information ? Vous avez besoin d’un devis détaillé ? Contactez-nous, nous sommes à votre disposition. Nous vous répondons immédiatement.</h2>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}