{% extends 'layouts/main.html.twig' %}

{% block page_css %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <strong>hello {{ 'hello' | trans }} ! {{ 'foo' | trans }}</strong>
    <br/>
    <a href="{{ path('features') }}">home</a>
{% endblock %}