{% extends 'layouts/main.html.twig' %}

{% block body_class %}jobs{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='container'>
			<h1>Rejoignez Wisembly</h1>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>Nous	 transformons la manière dont les gens se réunissent et collaborent. Ca vous intéresse ?</h3>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h3 class='text-centered'>En plein de centre de Paris, pour le monde entier</h3>
			<ul class='list gallery-list'>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>Pourquoi travailler chez Wisembly ?</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>Positions ouvertes</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}