{% extends 'layouts/main.html.twig' %}

{% block body_class %}plans{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<h1>Créez un compte de démonstration en 3 clics</h1>
						<h2>Cela ne coûte rien d’essayer. Boostez votre productivité et impressionnez vos collaborateurs lors de votre prochain conf-call, formation ou séminaire.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<h3>Réunions et conf-calls</h3>
						<ul>
							<li>One</li>
							<li>Two</li>
							<li>Three</li>
							<li>Four</li>
							<li>Five</li>
							<li>Six</li>
							<li>Seven</li>
							<li>Eight</li>
							<li>Nine</li>
							<li>Ten</li>
						</ul>
						<a href='' class='button'></a>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<h3>Enseignement & formations</h3>
						<ul>
							<li>One</li>
							<li>Two</li>
							<li>Three</li>
							<li>Four</li>
							<li>Five</li>
							<li>Six</li>
							<li>Seven</li>
							<li>Eight</li>
							<li>Nine</li>
							<li>Ten</li>
						</ul>
						<a href='' class='button'></a>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<h3>Evénements & séminaires</h3>
						<ul>
							<li>One</li>
							<li>Two</li>
							<li>Three</li>
							<li>Four</li>
							<li>Five</li>
							<li>Six</li>
							<li>Seven</li>
							<li>Eight</li>
							<li>Nine</li>
							<li>Ten</li>
						</ul>
						<a href='' class='button'></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}