{% extends 'layouts/main.html.twig' %}

{% block body_class %}resources{% endblock %}

{% block content %}
	<div class='section header' style='background-image: url(http://cdn0.stocksy.com/a/f3A000/z0/38667.jpg)'>
		<div class='container'>
			<h1>Ressources</h1>
		</div>
	</div>
{% endblock %}