{% extends 'layouts/main.html.twig' %}

{% block body_class %}classes-trainings{% endblock %}

{%  block content %}
	<div class='section header'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<h1>Cours et formations</h1>
						<h2>Wisembly vous permet de rythmer vos formations. Vos élèves s'approprient le contenu. Vous suivez leur évolution.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section features-list'>
		<div class='container'>
			<ul class='list'>
				<li class='one first'>
					<a href='#documents-management'>
						<i class='picto'></i>
						<span>Gestion des documents</span>
					</a>
				</li>
				<li class='two'>
					<a href='#quiz'>
						<i class='picto'></i>
						<span>Evaluations des élèves</span>
					</a>
				</li>
				<li class='three'>
					<a href='#'>
						<i class='picto'></i>
						<span>Evaluation des formations</span>
					</a>
				</li>
				<li class='four'>
					<a href='#quizzes'>
						<i class='picto'></i>
						<span>Quiz</span>
					</a>
				</li>
				<li class='five'>
					<a href='#'>
						<i class='picto'></i>
						<span>Q&A</span>
					</a>
				</li>
				<li class='six'>
					<a href='#'>
						<i class='picto'></i>
						<span>Stats & reporting</span>
					</a>
				</li>
				<li class='seven'>
					<a href='#'>
						<i class='picto'></i>
						<span>Multi-device</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section documents-management' id='documents-management'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Tous les supports de votre formation centralisés à un même endroit</h3>
						<p>Arrêtez de jongler entre vos différentes présentations PowerPoint et les documents à distribuer aux élèves. Tout est centralisé sur une seule interface. Projetez les ou partagez les avec vos élèves en un seul clic.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-bar'>
								<span>http://app.wisembly.com/demo</span>
							</div>
							<div class='browser-window'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section students-evaluation' id='students-evaluation'>
		<div class='container'>
			<h3>Vos évaluations sont corrigées immédiatement</h3>
			<div class='row'>
				<div class='column three'>
					<div class='column-inner'>
						<p>Il n’est pas normal que vous que vous perdiez un temps précieux à corriger vos QCM d'évaluation. Grâce à Wisembly, tout est automatique.</p>
						<p>Vous concevez simplement vos évaluations: questions ouvertes, questions à choix multiples, questions à choix unique...</p>
						<p>Vos élèves y répondent directement depuis leur téléphone, tablette ou PC.</p>
					</div>
				</div>
				<div class='column three last'>
					<div class='column-inner'>
						<p>La correction est effectuée automatiquement.</p>
						<p>Vos étudiants accèdent immédiatement à leurs résultats ainsi qu’à la liste de bonnes réponses.</p>
						<p>Vous avez accès aux réponses et aux notes de chacun ainsi qu’aux résultats de l’ensemble de la classe.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section training-evaluation' id='training-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>Améliorez vos formations avec vos élèves</h3>
						<p>Vous pouvez demander à vos élèves de donner leur opinion sur votre cours.</p>
						<p>Les résultats sont directement compilés sur la plateforme et vous n’avez pas à les retranscrire depuis des formulaires papiers. Tous les résultats sont exportables sous excel.</p>
						<p>Vous avez ainsi une vision d’ensemble sur votre cours et pouvez adapter le contenu aux attentes et profils des particpants.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section quizzes' id='quizzes'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Assurez-vous que tout le monde suit</h3>
						<p>Ponctuez votre cours à l’aide de questions rapides. Assurez que les notions présentées ont bien été comprises et que tout le monde suit. Préparées à l’avance, ces questions sont très efficaces pour booster l’attention et rythmer votre formation.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='quiz-demo'>
							<h4 class='quiz-title'>Would you like to try this?</h4>
							<div class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>Yes</span>
							</div>
							<label class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>No</span>
							</label>
							<label class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>I'm not sure just yet.</span>
							</label>
							<button class='button button-default'>Envoyer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section q-a' id='q-a'>
		<div class='container'>
			<h3>Répondez à toutes les questions de vos élèves</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>Il n’y a pas de commentaire ou de question bête. Chaque question devrait être traitée.</p>
						<p>Avec Wisembly, vos élèves peuvent à tout moment poser leurs questions sans interrompre le cours.</p>
						<p>Ils peuvent aussi réagir aux présentations des autres stagiaires et éventuellement partager des informations complémentaires.</p>
						<p>Vous pouvez traiter les questions en direct, à la fin du cours, ou bien après le cours directement sur votre Wiz.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-bar'>
								<span>http://app.wisembly.com/demo</span>
							</div>
							<div class='browser-window'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class='app-logo'>wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quote-box'>
											<div class='textarea-container'>
												<textarea placeholder='What is your question ?'></textarea>
												<div class='textarea-mirror'></div>
											</div>
											<button class='button'>Send</button>
										</div>
										<div class='quotes-stream'>
											<ul class='list'>
												<li>
													<span class='quote-text'>Aliquam erat volutpat. Nulla libero lectus.</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
												<li>
													<span class='quote-text'>Is this going to be forever?</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
												<li>
													<span class='quote-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section stats-reporting' id='stats-reporting'>
		<div class='container'>
			<h3>La mémoire de vos formations</h3>
			<p>Après chaque session, vous avez accès à une analyse détaillée de votre formation: volume et type d’interactions, contenus, classement des élèves, notes moyenne etc.</p>
			<p>Il devient facile de retrouver les questions, les slides et les notes d’une formation vieille d’il y a plusieurs mois en quelques secondes et de “rejouer” le cours.</p>
			<p>Wisembly devient la mémoire de toutes vos formations</p>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
	<div class='section multi-device' id='multi-device'>
		<div class='container'>
			<h3>Vos élèves sont déjà équipés</h3>
			<p>Pourquoi changer les habitudes de vos élèves en leur distribuant des boîtiers ou autres appareils encombrants ?</p>
			<p>Web, mobile, tablette, Twitter, email, SMS...</p>
			<p>Wisembly fonctionne depuis tous les appareils nés après le minitel.</p>
			<p>Vos élèves peuvent utiliser le device avec lequel ils se sentent à l’aise c’est à dire celui qu’ils ont sur eux.</p>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<a href='' class='button button-large button-attention'>Essayez gratuitement</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}