<div class='section documents-management odd' id='documents-management'>
	<div class='container'>
		<div class='row'>
			<div class='column six'>
				<div class='column-inner'>
					<h3>{{ 'documents_management_title' | trans }}</h3>
					<p>{{ 'documents_management_desc' | trans }}</p>
				</div>
			</div>
			<div class='column five'>
				<div class='column-inner'>
					<img src='/static/images/illustrations/managing-documents.png' />
				</div>
			</div>
		</div>
	</div>
</div>