<div class='section odd stats-reporting' id='stats-reporting'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'stats_reporting_title' | trans }}</h3>
			<i class='illustration'>
				<img src='{{ asset("/static/images/stats-reporting.png") }}' />
			</i>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<p>{{ 'stats_reporting_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column six'>
					<div class='column-inner'>
						{{ 'stats_reporting_desc2' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>