<div class='section students-evaluation even' id='students-evaluation'>
		<div class='container' style='background-image: url(http://cdn1.stocksy.com/a/Mk4000/z0/18250.jpg);background-repeat: no-repeat; background-position: center center; background-size: cover;'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<img src='/static/images/illustrations/students-evaluation.png' />	
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'students_evaluation_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div cla ss='column-inner'>
									{{ 'students_evaluation_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>