<div class='section students-evaluation even' id='students-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<img src='{{ asset("/static/images/students-evaluation.png") }}' />	
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'students_evaluation_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div cla ss='column-inner'>
									{{ 'students_evaluation_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>