<div class='section even training-evaluation force-white' id='trainings-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<img src='{{ asset("/static/images/training-evaluation.png") }}' />	
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'training_evaluation_title' | trans }}</h3>
						{{ 'training_evaluation_desc' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>