// type
$header-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// grid
$container-width: 1024px;

// colors
$white: #fff;
$black: #444;
$grey: #999;
$darkGrey: #666;
$lightGrey: #e0e0e0;

// brand colors
$brandGreen: #66bc58;
$brandGreenHover: #4c8d42;
$brandGreenLight: #8ccd82;
$brandGreenExtraLight: #b0ddb1;
$brandGreenExtraExtraLight: #d5eed6;
$brandGreenExtraExtraExtraLight: #f6fbf5;
$brandBlue: #0786cd;
$brandBlueHover: #006697;
$brandBlueDark: #00608c;
$brandBlueExtraDark: #005279;
$brandBlueExtraExtraDark: #004564;
$brandBlueLight: #45a4da;
$brandBlueExtraLight: #7fc4e2;
$brandBlueExtraExtraLight: #bfe1f0;
$brandBlueExtraExtraExtraLight: #eff8fb;
$brandOrange: #ff6539;
$brandOrangeHover: #bf4c2b;
$brandOrangeLight: #ff8c6b;
$brandOrangeExtraLight: #ffb19f;
$brandOrangeExtraExtraLight: #ffd6ce;
$brandOrangeExtraExtraExtraLight: #fff6f3;
$brandRed: #fd5364;
$brandRedHover: #be3e4b;
$brandRedLight: #fe7e8b;
$brandRedExtraLight: #ffa8b2;
$brandRedExtraExtraLight: #ffd3d8;
$brandRedExtraExtraExtraLight: #fff5f6;
$brandYellow: #fbe239;
$brandYellowHover: #bca92b;
$brandYellowLight: #fce96b;
$brandYellowExtraLight: #fdf0a6;
$brandYellowExtraExtraLight: #fef7d1;
$brandYellowExtraExtraExtraLight: #fffdf4;
$brandGrey: #326279;

// forms

$form-element-padding: 7px 10px;
$form-large-element-padding: 8px;
$form-label-line-height: 32px;

// topbar

$topbarHeight: 100px;